:root {
  /* background */
  --c-dark: #141d2d;
  --c-light: #fff;
  --c-accent: #ff6b08;

  --c-dark-blue: #253045;
  --c-grey-blue: #4a5771;
  --c-grey-light: #f1f2f2;
  --c-grey: #bcc1d2;

  /* text */
  --txt-c-dark: var(--c-dark);
  --txt-c-grey: #4f5b70;
  --txt-c-grey-light: var(--c-grey-light);
  --txt-c-accent: var(--c-accent);
  --txt-c-light: var(--c-light);

  /* modals */
  --modal-bgd-dark: rgba(20, 29, 45, 0.8);
  /* font */
  --font-main: "Acrom", sans-serif;

  /* container width */
  --vertical-scroll: 20px;
  --mobile: calc(300px + var(--vertical-scroll));
  --tablet: calc(640px + var(--vertical-scroll));
  --desktop: calc(900px + var(--vertical-scroll));
  --desktop-lg: calc(1146px + var(--vertical-scroll));

  /* animation */
  --animation-fast: 0.1s;
  --animation-slow: 0.3s;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-ExtraBold.eot");
  src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
    url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
    url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Bold.eot");
  src: local("Acrom Bold"), local("Acrom-Bold"),
    url("../fonts/acrom/Acrom-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Bold.woff") format("woff"),
    url("../fonts/acrom/Acrom-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom/Acrom-Regular.eot");
  src: local("Acrom Regular"), local("Acrom-Regular"),
    url("../fonts/acrom/Acrom-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/acrom/Acrom-Regular.woff") format("woff"),
    url("../fonts/acrom/Acrom-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: var(--font-main);
}

/* COMMON */
.tablet_element {
  display: none;
}
.desktop_element {
  display: none;
}
.container {
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: auto;
  padding: 30px 10px 55px 10px;
}

.container_nav {
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
  padding: 30px 10px 55px 10px;
}
.container-left {
  align-items: flex-start;
}
.calculator_info_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
}
.accent_btn {
  background: var(--c-accent);
  width: 299px;
  height: 60px;
  color: var(--c-light);
  padding: 20px 35px;
  outline: none;
  border: none;
  cursor: pointer;
}
/* MODALS */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  display: block;
  background: var(--modal-bgd-dark);
}
.modal_active {
  z-index: 10;
  opacity: 1;
  pointer-events: all;
}
.modal_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}
.modal_area_bgd {
  background: var(--modal-bgd-dark);
}

.body_scroll_disable {
  overflow: hidden;
}
/* MODAL MENU */

.modal_mobile_menu {
  background: var(--c-light);
}
.modal_mobile_container {
  height: 70%;
  justify-content: space-between;
  margin: 0;
}
.mobile_menu_nav {
  display: flex;
  flex-direction: column;
}
.mobile_menu_contacts {
  display: flex;
  flex-direction: column;
}
.mobile_menu_item {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-grey);
  padding-bottom: 35px;
}
.mobile_menu_my_tel {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  padding-bottom: 15px;
}
.mobile_menu_my_mail {
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  padding-bottom: 5px;
  text-decoration: none;
}
.modal_close_btn {
  font-style: 18px;
  position: absolute;
  z-index: 10;
  color: var(--c-grey-blue);
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.mobile_menu_close_btn {
  background: var(--c-accent);
  color: var(--c-light);
  padding: 10px 14px;
}

/* My video modal */
.my_video_container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  height: 80%;
}
.my_video_content {
  width: 100%;
}
.my_video_close_btn {
  background: var(--c-light);
  color: var(--c-dark);
  padding: 10px 14px;
  border-radius: 5%;
}
/* Request received */
.modal_request_received {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}
.request_received_container {
  background: var(--c-light);
  padding: 60px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.request_received_title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  margin-top: 0;
}
.request_received_primary {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-dark);
  margin-top: 0;
}
.request_received_secondary {
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  color: var(--txt-c-dark);
  width: 185px;
  margin-top: 0;
}

/* Navigation */
.navigation {
  min-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--c-dark);
}
.navigation_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.hire_me {
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  text-decoration: none;
  margin: 0 20px 0 0;
}
.logo_link {
  text-decoration: none;
}
.mobile_menu {
  width: 30px;
  height: 30px;
  background: var(--c-accent);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.mobile_menu i {
  color: var(--c-light);
}

/* Front page */
.front_page {
  width: 100%;
  background: var(--c-dark);
}
.front_page_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front_page_main,
.front_page_my_info,
.front_page_about_me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.front_page_my_name {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-transform: uppercase;
  color: var(--txt-c-accent);
  text-align: center;
  padding: 0 35px 10px 0;
}
.front_page_profession {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  text-align: center;
  width: 442px;
}
.front_page_description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--txt-c-light);
  text-align: center;
  padding: 20px;
  width: 59%;
}
.front_page_btn {
  text-decoration: none;
  height: 20px;
  width: 230px;
  text-align: center;
}
.front_page_my_info {
  background: var(--c-dark);
  padding: 30px 10px 55px 10px;
  box-sizing: border-box;
}
.front_page_about_me {
  width: 100px;
}
.front_page_my_photo {
  display: block;
  width: 170px;
  padding-top: 20px;
  padding-bottom: 20px;
  object-fit: contain;
  opacity: transparent;
}
.front_page_my_description {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--txt-c-light);
  padding-bottom: 20px;
}
.front_page_play_btn {
  border: 2px solid var(--c-accent);
  color: var(--txt-c-accent);
  background: transparent;
  padding: 10px 40px;
  font-weight: bold;
  font-size: 9px;
  z-index: 2;
}
.front_page_laptop {
  width: 250px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.experience_title {
  width: 240px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 140%;

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--txt-c-light);
  margin: 0;
  padding-bottom: 30px;
}
.experience_skill {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.experience_dots {
  display: flex;
  align-items: center;
}
.experience_dots_item {
  color: var(--c-grey-blue);
  font-size: 8px;
  padding-right: 5px;
}
.experience_dots_item_accent {
  color: var(--c-accent);
  font-size: 8px;
  padding-right: 5px;
}
.experience_txt {
  color: var(--txt-c-light);
  margin: 0;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 0 15px;
}
/* ABOUT PAGE */

.about-title {
  color: var(--txt-c-dark);
  text-align: left;
  width: 280px;
  margin: 20px 0;
}

.about-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: var(--txt-c-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
}

.about-descr span {
  background: var(--c-dark-blue);
  padding: 4px 9px;
}

.about-text {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--c-dark);
  margin: 0 0 30px 0;
}

.about-text:last-child {
  margin-bottom: 0;
}

.about-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.about-img-text {
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  writing-mode: tb-rl;
  margin: auto;
  position: relative;
}

.about-img {
  width: 235px;
  height: 254px;
  position: absolute;
  left: -35px;
  top: 55px;
}

/* PERSONAL PROJECT */
.about-projects {
  display: none;
}
.personal-projects {
  background: var(--c-dark);
}

.personal-project-item-container {
  padding-top: 40px;
  background: var(--c-dark-blue);
  border-radius: 5px 5px 0 0;
  position: relative;
}

.personal-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-light);
  margin: 25px 0;
  display: flex;
}

.personal-project-img {
  width: 100%;
}

.personal-projects-title {
  margin-top: 20px;
}

.project-item-dot-container {
  display: flex;
  position: absolute;
  top: 17px;
  left: 20px;
}

.personal-project-item {
  border-bottom: 1px solid var(--c-grey-blue);
  margin-bottom: 30px;
}

.personal-project-item:last-child {
  margin-bottom: 0;
}

.project-item-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--c-grey-blue);
  margin-right: 7px;
}

.project-item-dot:first-child {
  background: var(--c-accent);
}

.personal-project-icon {
  font-size: 18px;
  color: var(--c-accent);
  margin-right: 15px;
  margin-top: 3px;
}

.personal-project-btn {
  padding: 15px 30px 15px 10px;
  margin-bottom: 30px;
}

/* TEAM PROJECT */

.team-projects .container {
  position: relative;
  overflow-x: hidden;
  padding-bottom: 0;
}

.team-projects-title {
  color: var(--txt-c-dark);
  position: relative;
  margin-bottom: 40px;
}

.team-projects-title-bgd {
  position: absolute;
  top: -50px;
  left: 45px;
  font-weight: bold;
  font-size: 150px;
  line-height: 180px;
  text-transform: uppercase;
  color: var(--txt-c-grey-light);
  z-index: -1;
}

.team-project-name {
  font-weight: normal;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 25px 0;
  display: flex;
}

.team-project-item {
  border-bottom: 1px solid var(--c-grey-light);
  margin-bottom: 30px;
}

.team-project-item:last-child {
  margin-bottom: 0;
}
/* CALLBACK FORM */
.callback_form_container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--c-dark);
  padding: 35px 30px 40px 30px;
}
.callback_form_title {
  width: 260px;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
  padding: 0 0 20px 0;
}
.callback_form_descr {
  width: 260px;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
  padding: 0 0 30px 0;
}
.callback_form_input_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.callback_form_input {
  padding: 10px 10px 15px 10px;
  margin-bottom: 30px;
  background: transparent;
  color: var(--txt-c-grey-light);
  border: none;
  border-bottom: 1px solid var(--c-grey-blue);
  text-align: center;
}
.callback_form_input_err {
  transition: 0.2s ease-in-out;
  border: 1px solid red;
}
.callback_form_submit {
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */

  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
/* CALCULATOR FORM SECTION */

.calculator {
  padding-top: 52px;
  background: var(--c-dark);
}

.calculator .container {
  box-sizing: border-box;
  margin: 0px;
  padding-bottom: 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator-icon {
  width: 195px;
}

.calculator-descr {
  font-weight: bold;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  color: var(--txt-c-light);
  margin: 0 0 30px 0;
}

.calculator-descr span {
  background: var(--c-accent);
  padding: 5px;
}

.calculator-descr .calculator-descr-accent {
  padding: 5px;
  background: var(--c-accent);
  color: var(--txt-c-light);
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;

  text-transform: uppercase;
}

.calculator-title {
  width: 270px;
  margin-bottom: 20px;
}
.calculator_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calculator-text {
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-light);
  margin: 20px 0 30px 0;
}
.calculator_form {
  width: 300px;
  padding: 28px 28px 40px 28px;
  background: var(--c-light);
}
.calculator_form_title {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  padding-bottom: 15px;
  color: var(--txt-c-dark);
}
.calculator_form_input {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.calculator_form_input_field {
  display: none;
}
.calculator_form_input_label {
  font-weight: bold;
  padding-right: 15px;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
}
.calculator_accent_btn {
  background: var(--c-accent);
  width: 100%;
  height: 60px;
  color: var(--c-light);
  padding: 20px 35px;
  outline: none;
  border: none;
  cursor: pointer;
}
_________________________________ .calculator_form_website_type {
  cursor: pointer;
  border: none;
  border-bottom: 1px solid var(--c-grey);
  font-size: 17px;
  padding: 5px 0;
  line-height: 150%;
}

.calculator_form_website_type:focus,
.calculator_form_website_type:active {
  border-bottom: 1px solid var(--c-grey);
  outline: none;
}

.calculator_technologies {
  width: 100%;
  vertical-align: top;
  border: 1px solif;
  visibility: hidden;
  position: relative;
}

.selected_value_container {
  cursor: pointer;
  position: relative;
}

.selected_value {
  margin: -7px 0 0 0;
  color: var(--txt-c-light);
  font-weight: normal;
  line-height: 150%;
  border-bottom: 1px solid var(--c-grey);
  padding: 15px 0;
}

.chevron_down_select {
  color: var(--txt-c-dark);
  position: relative;
  top: -40px;
  right: -222px;
}

.selected_value span {
  font-size: 13px;
  background: var(--c-accent);
  display: inline-block;
  margin: 5px;
  padding: 2px 8px;
  border-radius: 3px;
}

.selected_value span i {
  margin-left: 5px;
  font-size: 10px;
}

.calculator_technologies select {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 17px;
  position: absolute;
  z-index: 1;
}

.calculator_technologies select option {
  padding: 10px;
}
.calculator_technologies select option:nth-child(1),
.calculator_technologies select option:nth-child(2) {
  display: none;
}

.calculator_technologies select option:hover {
  background: var(--c-grey-light);
}

_________________________________
  .calculator_form_input_radio
  input[type="radio"]:checked,
.calculator_form_input_radio input[type="radio"]:not(:checked) {
  display: none;
}

.calculator_form_input_radio input[type="radio"]:checked + label,
.calculator_form_input_radio input[type="radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

.calculator_form_input_radio input[type="radio"]:checked + label:before,
.calculator_form_input_radio input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 21px;
  height: 21px;
  border: 1px solid #c2c8d3;
  background-color: #ffffff;
}

.calculator_form_input_radio input[type="radio"]:checked + label:after,
.calculator_form_input_radio input[type="radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 7px;
  width: 9px;
  height: 9px;
  background-color: var(--c-accent);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.calculator_form_input_radio input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
}

.calculator_form_input_radio input[type="radio"]:checked + label:after {
  opacity: 1;
}
.calculator_form_total {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
}
.calculator_form_total_cost {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
  display: flex;
  align-items: center;
  margin: 0;
}
/* FOOTER SECTION */
.footer_my_info {
  text-align: center;
}
.footer_my_name {
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  color: var(--txt-c-dark);
  margin: 0;
  text-align: center;
}
.footer_my_profession {
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
  color: var(--txt-c-dark);
}
.footer_contacts {
  display: flex;
  flex-direction: column;
}
.footer_my_tel {
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  padding-bottom: 15px;
}
.footer_my_mail {
  font-size: 17px;
  line-height: 150%;
  text-align: center;
  color: var(--txt-c-dark);
  padding-bottom: 30px;
  text-decoration: none;
}
.social_links_item {
  font-size: 25px;
}

.social_links_items {
  margin-right: 35px;
  text-decoration: none;
  color: var(--c-dark);
}
.social_links_items:last-child {
  margin-right: 0;
}
.social_links_items i {
  transition: all 0.2s ease-in-out;
}
.social_links_items i:hover {
  transform: scale(2);
}
.copyright {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 120%;
  color: var(--c-grey);
}
.front_page_my_description_tablet {
  display: none;
}
.desktop_menu_nav {
  display: none;
}
@media only screen and (min-width: 640px) {
  .container {
    padding-bottom: 70px;
    min-width: 640px;
  }
  .mobile_element {
    display: none;
  }
  .tablet_element {
    display: flex;
  }
  .desktop_element {
    display: none;
  }
  .front_page_my_description_tablet {
    display: block;
  }
  .front_page_my_name {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 0;
  }
  .front_page_profession {
    margin-top: 20px;
    font-size: 55px;
    line-height: 66px;
    width: 462px;
  }
  .profession_p1 {
    margin-right: 60px;
  }
  .profession_p2 {
    margin-left: 60px;
  }
  .front_page_my_description {
    font-size: 17px;
    line-height: 150%;
    margin: 0;
    text-align: left;
  }
  .front_page_about_me {
    align-items: flex-start;
  }
  .font_page_my_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
  }
  .front_page_my_photo {
    width: 200px;
  }
  .front_page_play_btn {
    margin-bottom: 0;
  }
  .front_page_laptop {
    width: 400px;
    padding-bottom: 90px;
  }
  .about .container {
    position: relative;
  }

  .about-img-text {
    position: absolute;
    right: 22px;
    top: 228px;
    font-size: 200px;
    line-height: 240px;
  }

  .about-img {
    width: 361px;
    height: 390px;
    left: -105px;
    top: 70px;
  }

  .about-img-container {
    margin-bottom: 0;
  }

  .about-title {
    font-size: 50px;
    line-height: 60px;
    width: 600px;
  }

  .about-descr {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 60px;
  }
  .about-text {
    width: 56%;
  }
  .about-text:last-child {
    margin-bottom: 84px;
  }

  .team-projects-title,
  .personal-projects-title {
    text-align: left;
    width: 400px;
    font-size: 50px;
    line-height: 60px;
  }

  .team-project-item,
  .personal-project-item {
    margin: 0 25px 40px 25px;
  }

  .callback-form .container,
  .personal-projects .container,
  .team-projects .container {
    align-items: normal;
  }

  .team-projects-title-bgd {
    font-size: 200px;
    line-height: 240px;
    top: 19px;
  }

  .callback-form-container {
    padding: 75px 30px 80px 30px;
  }

  .callback-form-title {
    font-size: 36px;
    line-height: 43px;
    width: 386px;
  }

  .callback-form-submit,
  .callback-form-input,
  .callback-form-descr {
    width: 386px;
    box-sizing: border-box;
  }
  .callback-form-submit {
    margin-top: 10px;
  }
  .calculator .container {
    align-items: center;
    position: relative;
    padding: 20px 10px 90px 10px;
  }
  .calculator_info_container {
    align-items: flex-start;
    max-width: 600px;
  }
  .calculator-title {
    width: 500px;
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    margin-bottom: 40px;
  }

  .calculator-descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    font-size: 36px;
    line-height: 150%;
  }
  .calculator-icon {
    margin-left: -100px;
    margin-bottom: -45px;
    width: 344px;
  }
  .calculator_text_container {
    flex-direction: row-reverse;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .calculator-text {
    text-align: left;
    width: 330px;
    margin-top: 10px;
  }

  .calculator_form {
    width: 73%;
    max-width: 600px;
    z-index: 2;
    padding: 60px 80px 70px 80px;
  }

  .calculator_form_title {
    line-height: 150%;
  }
  .footer_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .footer_my_mail {
    padding-bottom: 0;
  }
  .footer .container {
    align-items: flex-start;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 900px) {
  .mobile_element {
    display: none;
  }
  .tablet_element {
    display: none;
  }
  .desktop_element {
    display: block;
  }
  .desktop_menu_nav {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .desktop_menu_item {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-grey);
    transition: all 0.3s ease-in-out;
  }
  .desktop_menu_item:hover {
    color: var(--txt-c-accent);
  }
  .callback_form_input {
    width: 200px;
    text-align: left;
  }
  .callback_form_input_container {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }
  .callback_form_container {
    padding-bottom: 105px;
  }
}
@media only screen and (min-width: 1000px) {
  .container {
    max-width: var(--desktop-lg);
  }
  .tablet_element {
    display: none;
  }

  .desktop_element {
    display: flex;;
  }

  .front_page_my_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .front_page_profession {
    font-size: 70px;
    line-height: 84px;
    width: 572px;
    margin-left: -60px;
    margin-bottom: 35px;
    z-index: 2;
  }

  .experience_wrapper {
    order: 1;
  }

  .front_page_main {
    align-items: flex-start;
    order: 2;
    z-index: 2;
    position: relative;
  }
  .front_page_my_photo {
    position: absolute;
    width: 256px;
    z-index: 1;
    right: 24%;
    bottom: 228px;
    opacity: 0;
    transition: opacity 1s ease-in;
  }
  .container:hover .front_page_my_photo {
    opacity: 1;
  }

  .callback_form_input {
    width: 261px;
  }
  .front_page_description {
    text-align: left;
    margin-bottom: 65px;
    z-index: 2;
  }

  .front_page_gallery_btn {
    width: 387px;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 90px;
  }
  .profession_part_2 {
    margin-left: 60px;
  }

  .front_page_wrapper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 115px;
  }

  .front_page_laptop {
    position: absolute;
    bottom: -64px;
    right: 0;
    z-index: 1;
  }
  .front_page_my_info {
    order: 3;
  }

  .front_page_my_description {
    text-align: right;
  }

  .front_page_my_name {
    margin-top: 0;
    z-index: 2;
  }
  .expeiriece_title {
    text-align: left;
  }

  .experience_skill {
    margin-left: 0;
  }
  .team-project-item-wrapper,
  .personal-project-item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .team-project-item,
  .personal-project-item {
    width: calc(50% - 20px);
  }

  .team-project-item:nth-child(odd),
  .personal-project-item:nth-child(odd) {
    margin: 0 20px 40px 0;
  }

  .team-project-item:nth-child(even),
  .personal-project-item:nth-child(even) {
    margin: 0 0 40px 20px;
  }

  .team-projects-title,
  .personal-projects-title {
    font-size: 70px;
    line-height: 84px;
    width: 530px;
  }

  .team-projects-title-bgd {
    font-size: 250px;
    line-height: 300px;
    top: 35px;
    left: 274px;
  }
  .about-title {
    font-size: 70px;
    line-height: 84px;
    width: 620px;
    margin-top: 0;
  }

  .about-text {
    width: 406px;
  }
  .about-text:last-child {
    width: 388px;
    margin: 0;
  }

  .about-content-wrapper {
    position: relative;
  }

  .about .container {
    flex-direction: row;
    padding: 135px 10px;
    justify-content: space-between;
  }


  .about-projects-count {
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;
    color: var(--txt-c-light);
    margin: 0;
  }



  .about-img-text {
    font-size: 250px;
    line-height: 300px;
    right: -223px;
    top: -23px;
    z-index: 1;
  }

  .about-img {
    width: 421px;
    height: 455px;
    left: -35px;
  }
  .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .calculator .container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .calculator_form {
    width: 386px;
    padding: 40px 50px;
  }
}
@media only screen and (min-width: 1172px) {
  .calculator-title {
    width: 750px;
    font-size: 70px;
    line-height: 84px;
    margin-top: 0;
  }
  .about-projects-bar {
    background: var(--c-accent);
    width: 159px;
    height: 465px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px 5px;
    margin-bottom: 35px;
    margin-top: 15px;
  }
  .about-projects-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 135%;
    color: var(--txt-c-dark);
    text-transform: uppercase;
    width: 125px;
  }

  .about-projects {
    display: block;
    z-index: 2;
  }
}